<section class="py-5 mt-5" style="text-align: center;">
    <h2 class="display-3 fw-bold mb-4" style="text-align: center;">Juan Dela Cruz</h2>
    <div class="row" style="text-align: center;">
        <div class="col-xxl-6" style="text-align: right;width: 600px;">
        <%= image_tag('illustrations/video-call.svg', class: "img-fluid", style: "width: 500;")  %>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8">
                        <form style="text-align: left;font-weight: bold;margin-right: 110px;"><label class="form-label" style="text-align: left;">Name:</label><input class="form-control" type="text" /><label class="form-label" style="text-align: left;">Email:</label><input class="form-control" type="text" /><label class="form-label" style="text-align: left;">Password:</label><input class="form-control" type="text" /><label class="form-label" style="text-align: left;">Confirm Password:</label><input class="form-control" type="text" /></form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align: left;"><a class="btn btn-primary" role="button" style="margin-top: 20px;" href="super_user_user_index.html">Update Profile</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group" role="group"></div>
</section>